.run-post {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    height: 500px;
    margin: 1em;
    justify-content: space-between;
    background-color: var(--offWhite);
    border: solid 1px var(--primary);
    border-radius: 10px;
    padding: .5em;

    .run-post-profileLink {
        color: blue;
    }
}